<?xml version="1.0" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Anbar.Properties.Settings.AminAmvalConnectionString"
   connectionString="Data Source=192.168.100.73;Initial Catalog=AminAmval;Persist Security Info=True;User ID=AminAmval; pwd=AminAmval"
   providerName="System.Data.SqlClient" />
  <add name="Anbar.Properties.Settings.itConnectionString" connectionString="Data Source=192.168.100.73;Initial Catalog=it;Persist Security Info=True;User ID=aminamval;Password=AminAmval"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="Main.ConnectionString" value="Data Source=192.168.100.73;Initial Catalog=aminamval;User Id = aminamval;Password = AminAmval" />
	</appSettings>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
</configuration>
